<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BWW_BuffaloStampede_01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1100},{67,110}}</string>
                <key>offset</key>
                <string>{-201,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{67,110}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1100},{73,118}}</string>
                <key>offset</key>
                <string>{-198,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{73,118}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1100},{85,126}}</string>
                <key>offset</key>
                <string>{-192,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{85,126}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,829},{105,128}}</string>
                <key>offset</key>
                <string>{-182,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{105,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1856},{111,128}}</string>
                <key>offset</key>
                <string>{-179,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{111,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1856},{129,130}}</string>
                <key>offset</key>
                <string>{-170,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{129,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1368},{135,130}}</string>
                <key>offset</key>
                <string>{-167,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{135,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,546},{155,132}}</string>
                <key>offset</key>
                <string>{-157,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{155,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,406},{161,134}}</string>
                <key>offset</key>
                <string>{-154,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,134},{175,138}}</string>
                <key>offset</key>
                <string>{-147,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,138}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1731},{191,136}}</string>
                <key>offset</key>
                <string>{-139,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{191,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,956},{203,134}}</string>
                <key>offset</key>
                <string>{-133,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{203,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,684},{215,132}}</string>
                <key>offset</key>
                <string>{-127,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{215,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1372},{223,134}}</string>
                <key>offset</key>
                <string>{-123,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{223,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1232},{235,132}}</string>
                <key>offset</key>
                <string>{-117,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{235,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1100},{247,130}}</string>
                <key>offset</key>
                <string>{-111,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{247,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1368},{267,128}}</string>
                <key>offset</key>
                <string>{-101,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{267,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,733},{279,130}}</string>
                <key>offset</key>
                <string>{-95,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{279,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1232},{285,130}}</string>
                <key>offset</key>
                <string>{-92,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{285,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1372},{303,132}}</string>
                <key>offset</key>
                <string>{-83,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{303,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1589},{303,136}}</string>
                <key>offset</key>
                <string>{-76,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{303,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,733},{305,138}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{305,138}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1733},{303,136}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{303,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1731},{305,134}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{305,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1582},{307,132}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,6},{307,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1871},{301,134}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,4},{301,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,929},{309,132}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,6},{309,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1370},{303,130}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,8},{303,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1067},{309,128}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,10},{309,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1578},{303,130}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,8},{303,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1720},{303,130}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,8},{303,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,791},{309,132}}</string>
                <key>offset</key>
                <string>{63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,6},{309,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,877},{305,136}}</string>
                <key>offset</key>
                <string>{73,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,2},{305,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1589},{301,138}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,0},{301,138}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1875},{285,136}}</string>
                <key>offset</key>
                <string>{91,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,2},{285,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,869},{273,134}}</string>
                <key>offset</key>
                <string>{97,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,4},{273,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1232},{263,132}}</string>
                <key>offset</key>
                <string>{103,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,6},{263,132}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1875},{251,136}}</string>
                <key>offset</key>
                <string>{109,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,2},{251,136}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1232},{239,134}}</string>
                <key>offset</key>
                <string>{115,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,4},{239,134}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1232},{227,130}}</string>
                <key>offset</key>
                <string>{121,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,8},{227,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,822},{215,128}}</string>
                <key>offset</key>
                <string>{127,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,10},{215,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1096},{201,130}}</string>
                <key>offset</key>
                <string>{134,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,8},{201,130}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1346},{189,128}}</string>
                <key>offset</key>
                <string>{140,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,10},{189,128}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,4},{177,124}}</string>
                <key>offset</key>
                <string>{146,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,14},{177,124}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,278},{165,122}}</string>
                <key>offset</key>
                <string>{152,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,16},{165,122}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1100},{153,116}}</string>
                <key>offset</key>
                <string>{158,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,22},{153,116}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1100},{135,114}}</string>
                <key>offset</key>
                <string>{167,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,24},{135,114}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1100},{125,112}}</string>
                <key>offset</key>
                <string>{172,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,26},{125,112}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1100},{113,108}}</string>
                <key>offset</key>
                <string>{178,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,30},{113,108}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>BWW_BuffaloStampede_01_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,963},{101,84}}</string>
                <key>offset</key>
                <string>{184,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,54},{101,84}}</string>
                <key>sourceSize</key>
                <string>{469,138}</string>
            </dict>
            <key>Bonus-Win-Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1232},{497,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,351}}</string>
                <key>sourceSize</key>
                <string>{497,351}</string>
            </dict>
            <key>BonusBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1024,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,723}}</string>
                <key>sourceSize</key>
                <string>{1024,723}</string>
            </dict>
            <key>BonusReelStripBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,570},{783,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,524}}</string>
                <key>sourceSize</key>
                <string>{783,524}</string>
            </dict>
            <key>BonusReelframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,4},{822,560}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{822,560}}</string>
                <key>sourceSize</key>
                <string>{822,562}</string>
            </dict>
            <key>bww_SymbolMultipliers_2X.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1512},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>bww_SymbolMultipliers_3X.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1512},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>coinSpin001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1906},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1668},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1602},{84,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1764},{84,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1864},{74,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1672},{80,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1714},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1952},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1856},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1810},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1768},{74,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin012.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,733},{74,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1860},{82,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,1480},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1906},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1572},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1480},{86,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1576},{78,90}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1672},{72,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1576},{80,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1506},{86,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1100},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1100},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1714},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1860},{82,90}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1768},{72,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,1698},{80,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1810},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1100},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coinSpin030.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1053},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>font_BigWin!.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1019},{244,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{244,64}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>font_FiveOfAKind!.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,733},{340,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{340,52}}</string>
                <key>sourceSize</key>
                <string>{340,76}</string>
            </dict>
            <key>font_FreeSpins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1236},{244,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{244,52}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>font_Retrigger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1510},{244,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{244,56}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>font_Scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1510},{244,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{244,62}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>font_WildMatch!.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1294},{244,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{244,46}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>font_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1009},{236,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a6b060af4d0c67d251dc6f10eba854$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
