<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaseBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1024,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,723}}</string>
                <key>sourceSize</key>
                <string>{1024,723}</string>
            </dict>
            <key>BaseReelframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,733},{822,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,562}}</string>
                <key>sourceSize</key>
                <string>{822,562}</string>
            </dict>
            <key>BonusMeters.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,624},{223,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>ReelStripBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,733},{783,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{783,524}}</string>
                <key>sourceSize</key>
                <string>{783,524}</string>
            </dict>
            <key>SpinsMeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,532},{223,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,86}}</string>
                <key>sourceSize</key>
                <string>{223,86}</string>
            </dict>
            <key>Symbol_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,388},{88,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{88,112}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,618},{112,108}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{112,108}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1060},{98,110}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{98,110}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,506},{84,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{84,112}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,270},{98,112}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{98,112}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,148},{86,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{86,116}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1726},{138,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1680},{140,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1791},{138,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{138,130}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1588},{138,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1301},{142,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,126}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>Symbol_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1680},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,4},{246,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>reel_blurred_anim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,532},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1263},{142,522}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1301},{138,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1301},{138,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1301},{138,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1433},{138,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1301},{140,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1060},{140,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,4},{140,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{140,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1263},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1263},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1263},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1263},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1152},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,4},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,624},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,4},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,148},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,4},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>reel_blurred_anim0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,90},{142,522}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,522}}</string>
                <key>sourceSize</key>
                <string>{152,522}</string>
            </dict>
            <key>winMeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,676},{100,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,36}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>winbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,4},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{144,138}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Symbols.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b7f9bf373a2f7847c8a47d3f47fdc6$</string>
            <key>textureFileName</key>
            <string>Symbols.png</string>
        </dict>
    </dict>
</plist>
